body
{
	background: white;
	color: black;
	text-align: center;
}
body,td,th,p,input,textarea 
{
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: black;
}